
body.listings{

  .more {
    background-color: #F60;
    
    display: block;
    width: 100%;

    a {
      color: white;
      display: block;
      padding: 10px;
      font-family: verdana;
      font-weight: bold;      

      background: no-repeat image-url('left-arrow.png') 100% 1px;
      background-origin: content-box;

    }


  }

  .content {
  
    .article {
      border-bottom: 1px solid #9A9A9A;
      padding: 5px 10px;
      text-align: left;

      > :first-child {
        margin-bottom: 10px;
      }

      .external_link {
        display: inline-block;
      }

      &:last-child {
        border: 0px;
      }

    }
  
  }

  .old_table {
    display: none;
  }

}