body.listings.expired {

  background-color: #F9F9F0;

  .expired_message {
    margin: 0px 20px;
    padding: 10px;
    font-size: 14pt;
    text-align: center;
    border-bottom: 1px dashed #F60;
  }  
  
  .options {
    min-height: 200px;    
    text-align:center;
    padding: 20px;

    .option {
      background-color: #F60;
      padding: 15px;
      margin-bottom: 20px;

      &.disabled {
        background-color: #828282;
      }

      a {
        text-decoration: none;
        display: inline-block;
        font-size: 18pt;
        color: white;
        width: 100%;
      }

    }
  }

  .progress {

    &.disabled {
      display: none;
    }
  
    margin: 20px;

    background-color: #828282;
    height: 30px;
    position: relative;

    .bar {
      background-color: white;
      height: 100%;
      position: absolute;
    }

    .number {
      position: absolute;
      top: 24%;
      float: center;
      color: black;
    }   
  
  }
  
  
  *[data-ur-set='toggler'] {
    position: relative;
    top: -20px;    

    > * {
      background-color: white;
      height: 30px;
    }

    *[data-ur-toggler-component='button'] {
      width: 30px;
      float: right;

      &[data-ur-state='enabled'] {
        background-color: #828282;
	color: white;
      }

      font-size: 12pt;
      background-color: white;
      padding-top: 11px;
      padding-left: 5px;
      padding-right: 5px;
    }

    *[data-ur-toggler-component='content'] {
      padding: 10px;
      height: 60px;

      &[data-ur-state='disabled'] {
        visibility: hidden;
      }
    }



  }
  
  
}