header {

  background-color: #F60;
  position: relative;
  height: 30px;
  
  > * {
    display: inline-block;
  }

  [data-ur-toggler-component='button'] {
    width: 25px;
    height: 25px;

    &[data-ur-state='enabled'] {
      background-color: #828282 !important;
    }

  }

  .search {
    float: right;
    padding: 2px 5px;

    > * {
      display: inline-block;
    }

     [data-ur-toggler-component='content'] {
       position: absolute;
       width: 100%;
       left: 0px;
       top: 30px;
       background-color: #828282;
       padding: 5px 0px;

       &[data-ur-state='disabled'] {
         display: none;
       }

       input {
         position: relative;
         width: 90%;
         left: 5%;
       }

     }

    .button {
      background: no-repeat image-url('search.png') 4px 3px;
    }
  }

  .logo {

    .icon img {
      border: 1px solid white;
    }

    > a {
      color: #FFF;
      font-family: verdana;
      font-weight: bold;
      font-size: 10pt;
      
    }
    
    > * {
      display:inline-block;
      margin: 5px 10px 0px;
      vertical-align: middle;
    }
  }

  .navigation {
    float: right;
    padding: 2px 5px;

    .button {
       background: no-repeat image-url('menu.png') 2px 3px;

    }

    .links {

      position: absolute;
      margin-top: 3px;
      left: 0%;
      width: 100%;
      border-top: 0px;
      padding: 5px 0px 5px;
      background-color: #828282;

      .link {
        display: block;
        padding: 5px 10px; /* 0px 5px;*/
        color: white;
        border-top: 1px solid white;

        &:first-child {
          padding-top: 0px;
          border-top: 0px;
        }


      }

      &[data-ur-state='disabled'] {
        display: none;
      }
    }
  
  }
   
}