.header {

  background-color: #F60;
  position: relative;
  height: 29px;
  
  > * {
    display: inline-block;
  }

  .logo {
    vertical-align: top;

    > a {
      color: #000;
      font-family: verdana;
      font-weight: bold;
      font-size: 10pt;
    }
    
    > * {
      display:inline-block;
      margin: 5px 10px 0px;
    }
  }

  .navigation {
    float: right;
    padding: 5px;

    .button {
       background-image: image-url('nav.jpeg');
       height: 20px;
       width: 20px;
    }

    .links {

      position: absolute;
      margin-top: 13px;
      left: 5%;
      width: 90%;
      border: 1px solid white;
      border-top: 0px;
      padding: 5px 0px 5px;
      border-radius: 5px;

      background-color: #828282;

      .link {
        display: block;
        padding: 5px 10px; /* 0px 5px;*/
        color: white;
        border-top: 1px solid white;

        &:first-child {
          padding-top: 0px;
          border-top: 0px;
        }


      }

      &[data-ur-state='disabled'] {
        display: none;
      }
    }
  
  }
   
}