// Reset file for standardizing the page
// @import "globals/_reset";

// Base file contains all the global styles
@import "globals/_base";

// Header & Footer
@import "sections/_header";
@import "sections/_footer";

// Pages
@import "pages/_listings";

body {
  margin: 0px;
}

* {
  font-family: verdana;
  font-size: 10pt;
}


/*

orange: #F60
light grey: #828282


*/